// Import mazer Variables
@import "./variables";
// Fix icon placement
body .bi::before, [class^=bi-]::before, [class*=" bi-"]::before {
    vertical-align: sub;
}
// Import fonts
@import "./fonts";

// Perfect Scrollbar
@import "perfect-scrollbar/css/perfect-scrollbar";

// Mazer CSS
@import "./mazer";
@import "./iconly.scss";
@import "./themes/dark/app-dark"

